<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="BierenServiceLibrary.BierenService">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="net.pipe://localhost/BierenService" binding="netNamedPipeBinding"
                  contract="BierenServiceLibrary.IBierenService" name="namedPipeBieren">
        </endpoint>
        <endpoint address="net.pipe://localhost/BierenService/mex" binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" name="namedPipeBierenMEX"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
